DEBUG=True
SECRET_KEY=your-secret-key-here
OPENROUTER_API_KEY=your-openrouter-api-key-here
SMS_IR_API_KEY=your-sms-ir-api-key-here
SMS_IR_LINE_NUMBER=your-sms-ir-line-number-here
SMS_IR_OTP_TEMPLATE_ID=your-sms-ir-otp-template-id-here
GEMINI_API_KEY=your-google-gemini-key
# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-ID-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
GOOGLE_REDIRECT_URI=[yourdomain]/api/auth/google/callback
OTP_SIMULATION_MODE=False