DEBUG=True
SECRET_KEY=your-secret-key-here
OPENROUTER_API_KEY=your-openrouter-api-key-here
SMS_IR_API_KEY=your-sms-ir-api-key-here
SMS_IR_LINE_NUMBER=your-sms-ir-line-number-here
SMS_IR_OTP_TEMPLATE_ID=your-sms-ir-otp-template-id-here

# Google OAuth
GOOGLE_CLIENT_ID=470968416969-sc4qbgd3d93598kg0o5em017ae6bkood.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
GOOGLE_REDIRECT_URI=https://django-9yn0pd.cldv.dev/api/auth/google/callback

